Festivalama/Festivalama.xcodeproj/project.xcworkspace/xcuserdata/ssztanyi.xcuserdatad/UserInterfaceState.xcuserstate
Festivalama/Festivalama.xcodeproj/xcuserdata/ssztanyi.xcuserdatad/xcschemes/Festivalama.xcscheme
Festivalama/Festivalama.xcodeproj/xcuserdata/ssztanyi.xcuserdatad/xcschemes/xcschememanagement.plist
